<ion-view title="Cart" >

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon" style="color: #FFFFFF;"></button>
  </ion-nav-buttons>
  
  <ion-nav-buttons side="right">   
   
	
	
		
  </ion-nav-buttons>
  
  <style>

.catagory_img{
	width: 40% !important;
}

  </style>

    <ion-content style="background-color:#f1f5f7">


	
<div class="row">
	<div class="col">
		<div style="margin: 0px 0px !important;" class="list card">

				<div style="border-bottom: 1px solid rgb(201, 201, 201);z-index: 999;" class="item item-image">
					<a href="#/app/productdetail"><img class="catagory_img" src="img/product2.png"></a>
				</div>
				<div class="row">
					<div style="border-right: 1px solid rgb(182, 182, 182);padding-right: 5px;" class="col-75">
						<p style="padding-top: 5px;font-weight: bold; color: rgb(95, 95, 95); font-size: 12px;" class="">
							Sony Headphones
						</p>
						<p style="font-weight: bold; color: rgb(95, 95, 95); font-size: 12px; padding-right: 10px;">$99</p>
					</div>
					<div class="col">
						<img style="float:right;" src="img/delete.png"/>
					</div> 
				</div>
				
					
			 

			</div>
	</div>
	<div class="col">
			<div style="margin: 0px 0px !important;" class="list card">

				<div style="border-bottom: 1px solid rgb(201, 201, 201);z-index: 999;" class="item item-image">
					<a href="#/app/productdetail"><img class="catagory_img" src="img/product3.png"></a>
				</div>
				<div class="row">
					<div style="border-right: 1px solid rgb(182, 182, 182);padding-right: 5px;" class="col-75">
						<p style="padding-top: 5px;font-weight: bold; color: rgb(95, 95, 95); font-size: 12px;" class="">
							Logitech Mouse
						</p>
						<p style="font-weight: bold; color: rgb(95, 95, 95); font-size: 12px; padding-right: 10px;">$99</p>
					</div>
					<div class="col">
						<img style="float:right;" src="img/delete.png"/>
					</div> 
				</div>
				
					
			 

			</div>
	</div>
</div>

<div class="card">

  <div style="border-bottom: 1px solid rgb(189, 189, 189);" class="row">
	<div class="col">
		 <p style="padding-top: 5px;font-weight: bold; color: rgb(95, 95, 95); font-size:16px;">Total :</p>
	</div>
	<div class="col">
		<p style="text-align:right;padding-top: 5px;font-weight: bold; color: rgb(95, 95, 95); font-size:16px;"> $198</p>
	</div>
    
	

  </div>

<a style="text-decoration:none;" href="#/main_page"><div style="width:50%;margin: 0 auto;">
     <button style="border-color:#55acee;color:#fff;background-color:#55acee;border-radius: 35px;" class="button button-block button-light">Order Now</button>
</div></a> 

</div>


    

	
	
    </ion-content>
	
</ion-view>
