<ion-view title="Home">

	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon" style="color: #FFFFFF;"></button>

	</ion-nav-buttons>

	<ion-nav-buttons side="right">
		<button class="button button-icon1 button-icon icon ion-ios-cart" style="color: #FFFFFF;"></button>


	</ion-nav-buttons>


	<style>
		.catagory_img {
			width: 40% !important;
		}
	</style>

	<ion-content style="background-color:#f2f2f2">







		<div class="list card"   ng-repeat="producto in productos">
		<!-- <div class="list card"  ng-repeat="producto in productos"> -->


			<div style="border-bottom: 1px solid rgb(201, 201, 201);z-index: 999;" class="item item-image">
				<img class="catagory_img" src="img/products.png">
			</div>
			<div class="row">
				<div class="col-50">
					<p style="padding-top: 5px;font-weight: bold; color: rgb(95, 95, 95); font-size: 12px; padding-left: 10px;" class="">
						Ray ban sunglasses
					</p>
				</div>
				<div class="col">
					<a href="#/app/productlist" style="min-height: 25px;line-height: 25px;border-color: #55acee;border-radius:14px;padding: 0px 7px;font-size: 12px;background-color: #55acee;color: #fff;float: right;" class="button icon-right ion-chevron-right button-calm viewmore">View More</a>
				</div>
			</div>


		</div>
		

		<div class="list card">

			<div style="border-bottom: 1px solid rgb(201, 201, 201);z-index: 999;" class="item item-image">
				<img class="catagory_img" src="img/product2.png">
			</div>
			<div class="row">
				<div class="col-50">
					<p style="padding-top: 5px;font-weight: bold; color: rgb(95, 95, 95); font-size: 12px; padding-left: 10px;" class="">
						Sony Headphones
					</p>
				</div>
				<div class="col">
					<a href="#/app/productlist" style="min-height: 25px;line-height: 25px;border-color: #55acee;border-radius:14px;padding: 0px 7px;font-size: 12px;background-color: #55acee;color: #fff;float: right;" class="button icon-right ion-chevron-right button-calm viewmore">View More</a>
				</div>
			</div>


		</div>
		<div class="list card">

			<div style="border-bottom: 1px solid rgb(201, 201, 201);z-index: 999;" class="item item-image">
				<img class="catagory_img" src="img/product3.png">
			</div>
			<div class="row">
				<div class="col-50">
					<p style="padding-top: 5px;font-weight: bold; color: rgb(95, 95, 95); font-size: 12px; padding-left: 10px;" class="">
						Logitech Mouse
					</p>
				</div>
				<div class="col">
					<a href="#/app/productlist" style="min-height: 25px;line-height: 25px;border-color: #55acee;border-radius:14px;padding: 0px 7px;font-size: 12px;background-color: #55acee;color: #fff;float: right;" class="button icon-right ion-chevron-right button-calm viewmore">View More</a>
				</div>
			</div>


		</div>






	</ion-content>

</ion-view>
