<ion-view title="Product List" >

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon" style="color: #FFFFFF;"></button>
  </ion-nav-buttons>
  
  <ion-nav-buttons side="right">   
    
	
	
  </ion-nav-buttons>
  
  <style>
.catagory_img{
	width: 40% !important;
}

  </style>
  
    <ion-content  style="background-color:#f1f5f7;">
<div class="">
  <label style="width: 95%;margin: 10px auto 0px;" class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
</div>
<div class="row">
	<div class="col">
		<div style="margin: 0px 0px !important;" class="list card">

			<div style="border-bottom: 1px solid rgb(201, 201, 201);z-index: 999;" class="item item-image">
				<a href="#/app/productdetail"><img class="catagory_img" src="img/product2.png"></a>
			</div>
			<div class="row">
				<div class="col-65">
					<p style="padding-top: 5px;font-weight: bold; color: rgb(95, 95, 95); font-size: 12px; padding-left: 10px;" class="">
						Sony Headphones
					</p>
				</div>
				<div class="col">
					<p style="text-align:right;font-weight: bold; color: rgb(95, 95, 95); font-size: 12px; padding-right: 10px;">$99</p>
				</div> 
			</div>
			
					<a href="#/app/productdetail" style="min-height: 25px;line-height: 25px;border-color: #55acee;width:100%;padding: 0px 7px;font-size: 12px;background-color: #55acee;color: #fff;" class="button icon-right ion-chevron-right button-calm viewmore">Buy now</a>
			 

		</div>
	</div>
	<div class="col">
			<div style="margin: 0px 0px !important;" class="list card">

				<div style="border-bottom: 1px solid rgb(201, 201, 201);z-index: 999;" class="item item-image">
					<a href="#/app/productdetail"><img class="catagory_img" src="img/product3.png"></a>
				</div>
				<div class="row">
					<div class="col-65">
						<p style="padding-top: 5px;font-weight: bold; color: rgb(95, 95, 95); font-size: 12px; padding-left: 10px;" class="">
							Logitech Mouse
						</p>
					</div>
					<div class="col">
						<p style="text-align:right;font-weight: bold; color: rgb(95, 95, 95); font-size: 12px; padding-right: 10px;">$99</p>
					</div> 
				</div>
				
					<a href="#/app/productdetail" style="min-height: 25px;line-height: 25px;border-color: #55acee;width:100%;padding: 0px 7px;font-size: 12px;background-color: #55acee;color: #fff;" class="button icon-right ion-chevron-right button-calm viewmore">Buy now</a>
			 

			</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div style="margin: 0px 0px !important;" class="list card">

			<div style="border-bottom: 1px solid rgb(201, 201, 201);z-index: 999;" class="item item-image">
				<a href="#/app/productdetail"><img class="catagory_img" src="img/product2.png"></a>
			</div>
			<div class="row">
				<div class="col-65">
					<p style="padding-top: 5px;font-weight: bold; color: rgb(95, 95, 95); font-size: 12px; padding-left: 10px;" class="">
						Sony Headphones
					</p>
				</div>
				<div class="col">
					<p style="text-align:right;font-weight: bold; color: rgb(95, 95, 95); font-size: 12px; padding-right: 10px;">$99</p>
				</div> 
			</div>
			
					<a href="#/app/productdetail" style="min-height: 25px;line-height: 25px;border-color: #55acee;width:100%;padding: 0px 7px;font-size: 12px;background-color: #55acee;color: #fff;" class="button icon-right ion-chevron-right button-calm viewmore">Buy now</a>
			 

		</div>
	</div>
	<div class="col">
			<div style="margin: 0px 0px !important;" class="list card">

				<div style="border-bottom: 1px solid rgb(201, 201, 201);z-index: 999;" class="item item-image">
					<a href="#/app/productdetail"><img class="catagory_img" src="img/product3.png"></a>
				</div>
				<div class="row">
					<div class="col-65">
						<p style="padding-top: 5px;font-weight: bold; color: rgb(95, 95, 95); font-size: 12px; padding-left: 10px;" class="">
							Logitech Mouse
						</p>
					</div>
					<div class="col">
						<p style="text-align:right;font-weight: bold; color: rgb(95, 95, 95); font-size: 12px; padding-right: 10px;">$99</p>
					</div> 
				</div>
				
					<a href="#/app/productdetail" style="min-height: 25px;line-height: 25px;border-color: #55acee;width:100%;padding: 0px 7px;font-size: 12px;background-color: #55acee;color: #fff;" class="button icon-right ion-chevron-right button-calm viewmore">Buy now</a>
			 

			</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div style="margin: 0px 0px !important;" class="list card">

			<div style="border-bottom: 1px solid rgb(201, 201, 201);z-index: 999;" class="item item-image">
				<a href="#/app/productdetail"><img class="catagory_img" src="img/product2.png"></a>
			</div>
			<div class="row">
				<div class="col-65">
					<p style="padding-top: 5px;font-weight: bold; color: rgb(95, 95, 95); font-size: 12px; padding-left: 10px;" class="">
						Sony Headphones
					</p>
				</div>
				<div class="col">
					<p style="text-align:right;font-weight: bold; color: rgb(95, 95, 95); font-size: 12px; padding-right: 10px;">$99</p>
				</div> 
			</div>
			
					<a href="#/app/productdetail" style="min-height: 25px;line-height: 25px;border-color: #55acee;width:100%;padding: 0px 7px;font-size: 12px;background-color: #55acee;color: #fff;" class="button icon-right ion-chevron-right button-calm viewmore">Buy now</a>
			 

		</div>
	</div>
	<div class="col">
			<div style="margin: 0px 0px !important;" class="list card">

				<div style="border-bottom: 1px solid rgb(201, 201, 201);z-index: 999;" class="item item-image">
					<a href="#/app/productdetail"><img class="catagory_img" src="img/product3.png"></a>
				</div>
				<div class="row">
					<div class="col-65">
						<p style="padding-top: 5px;font-weight: bold; color: rgb(95, 95, 95); font-size: 12px; padding-left: 10px;" class="">
							Logitech Mouse
						</p>
					</div>
					<div class="col">
						<p style="text-align:right;font-weight: bold; color: rgb(95, 95, 95); font-size: 12px; padding-right: 10px;">$99</p>
					</div> 
				</div>
				
					<a href="#/app/productdetail" style="min-height: 25px;line-height: 25px;border-color: #55acee;width:100%;padding: 0px 7px;font-size: 12px;background-color: #55acee;color: #fff;" class="button icon-right ion-chevron-right button-calm viewmore">Buy now</a>
			 

			</div>
	</div>
</div>

	
    </ion-content>
    
</ion-view>
