 
     <style>
select#xyz {
    border: none;
}
  .scroll-content {
    background: url(img/register.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  .item .item-content.activated{
	background-color: #5E87B0;
	color: #FFF;
	} 
	.form{
  float:left;
  height:86%;
  width:100%;
  box-sizing:border-box;
  padding: 20px;
}

.textbox{
  height:50px;
  width:100%;
  border-radius:3px;
  box-sizing:border-box;
  padding:10px;
}

.textbox:focus{
  outline:none;
   color: #000;
}

::-webkit-input-placeholder {
    color: #363636 !important;
	font-weight: bold;
	font-size: 12px;
}
:-moz-placeholder {
    color: #363636 !important;
	font-weight: bold;
	font-size: 12px;
}
::-moz-placeholder {
    color: #363636 !important;
	font-weight: bold;
	font-size: 12px;
}
:-ms-input-placeholder {
    color: #363636 !important;
	font-weight: bold;
	font-size: 12px;
}
</style>



  <ion-content style="background-color:#edecec;">
<div class="">
	
	<div style="width:70%;margin:0 auto;" class="list">
	  <label style="border-bottom: 1px solid rgb(70, 159, 226);" class="item item-input item-floating-label">
		<span style="font-size: 13px;" class="input-label">First Name</span>
		<input type="text" placeholder="First Name">
	  </label>
	  <label style="border-bottom: 1px solid rgb(70, 159, 226);" class="item item-input item-floating-label">
		<span style="font-size: 13px;" class="input-label">Last Name</span>
		<input type="text" placeholder="Last Name">
	  </label>


	</div>
	<div style="width:70%;margin:0 auto;" class="list">
	  <label style="border-bottom: 1px solid rgb(70, 159, 226);" class="item item-input item-floating-label">
		<span style="font-size: 13px;" class="input-label">Mobile No</span>
		<input type="text" placeholder="Mobile No">
	  </label>
	  <label style="border-bottom: 1px solid rgb(70, 159, 226);" class="item item-input item-floating-label">
		<span style="font-size: 13px;" class="input-label">Date of Birth</span>
		<input type="date" placeholder="Date of Birth">
	  </label>


	</div>
		<div style="width:70%;margin:0 auto;" class="list">
	  <label style="border-bottom: 1px solid rgb(70, 159, 226);" class="item item-input item-floating-label">
		<span style="font-size: 13px;" class="input-label">Email</span>
		<input type="text" placeholder="Email">
	  </label>
	  <label style="border-bottom: 1px solid rgb(70, 159, 226);" class="item item-input item-floating-label">
		<span style="font-size: 13px;" class="input-label">password</span>
		<input type="password" placeholder="password">
	  </label>


	</div>


</div>

<div style="text-align: center;">
<a href="#/app/home"><button style="margin-top:20px;width: 70%; background-color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); color: rgb(70, 159, 226); border-radius: 42px; box-shadow: 0px 1px 0px rgb(104, 97, 97);" class="button button-positive">
  Sign up
</button></a>
<!--<a href="#/app/playlists"><button style="width: 160px; border-color: #fff;background-color: #fff;color: #000; " class="button button-positive">
  Cancel
</button></a>-->
</div>
    

  </ion-content>

